<div id="form">
  <form novalidate role="form" class="form-signin">
    <h2 class="form-signin-heading">{{submitTitle}}</h2>
    <input type="text" id="username" class="form-control" [value]="username" placeholder="Username" autofocus />
    <br>
    <input type="password" id="password" class="form-control" [value]="password" placeholder="Password">
    <br>
    <div *ngIf="isRegister">
      <input type="password" id="confirmPassword" class="form-control" [value]="confirmPassword" placeholder="Password">
      <span *ngIf="confirmPassword !== password"> Error, use the same password</span>
      <br>
    </div>

    <input type="button" class="btn btn-danger btn-block" (click)="reset()" value="Reset" />
    <input type="button" class="btn btn-primary btn-block" (click)="submit()" [value]="submitTitle" />
  </form>
</div>
